/.vs
/CheckBoxResearch/bin
/CheckBoxResearch/obj
/NewUploaderGuiTechnicalResearch/bin
/NewUploaderGuiTechnicalResearch/obj
/TabControlResearch/bin
/TabControlResearch/obj
/LIstViewResearch/bin
/LIstViewResearch/obj
