/.vs
/CheckBoxResearch/bin
/CheckBoxResearch/obj
/NewUploaderGuiTechnicalResearch/bin
/NewUploaderGuiTechnicalResearch/obj
/TabControlResearch/bin
/TabControlResearch/obj
/LIstViewResearch/bin
/LIstViewResearch/obj
/ListViewResearch2/bin
/ListViewResearch2/obj
/ScrollBarResearch/bin
/ScrollBarResearch/obj
